extends ../../layouts/base

block css
    link(rel='stylesheet', href='/CSS/planet.css')
block layout-content
    .container-planet
        .square-container
            each item in squareItem
                .planet-item
                    .pointer-cursor(onclick=`showInfo(${item.index})`)
                        img(src=`${item.src}` alt=`${item.name}`)
                        .caption= item.name
            each item in squareItem
                .info-box(id='info-' + item.index)
                    .info-content
                        span.close-button(onclick=`hideInfo(${item.index})`) &times;
                        h2= item.name + " Level : " + item.level
                        p= item.info
                        p Cost to Level Up:
                        - if (item.costToLevelUp)
                            ul
                                each costs, title in item.costToLevelUp
                                    li
                                        span= title + ": " + `${costs}`
                        - else
                            p No cost information available.
                        button(type="button" id=`levelUpButton${item.index}` class="level-up-button" data-index=item.index data-type="planet") Level Up
        .resources
            table
                tr
                    td Iron :
                    td#iron #{resources.iron}
                tr
                    td Steel :
                    td#steel #{resources.steel}
                tr
                    td Copper :
                    td#copper #{resources.copper}
                tr
                    td Component :
                    td#components #{resources.components}
                tr
                    td Petrol :
                    td#petrol #{resources.petrol}
                tr
                    td Plastic :
                    td#plastic #{resources.plastic}
                tr
                    td Money :
                    td#money #{resources.money}
                tr
                    td Crystal :
                    td#crystal #{resources.crystal}
    script(src="/JS/resources.js")
    script(src="/JS/infobox.js")